# xoa het git ignore
# Thay 42 file thôi là ít, ok
.env
__pycache__
.venv
venv
*.pdf
*.docx
*.xlsx
*.pptx
*.zip
*.tar.gz
*.log
*.bak
*.tmp
*.swp
.DS_Store
.idea
.vscode
*.pyc
*.pyo
*.pyd
*.egg-info
dist
build
*.egg
*.log
*.bak